<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Officers
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-refresher slot="fixed" (ionRefresh)="listRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-img alt="No Results" *ngIf="searchArray.length == 0" src="/assets/img/no-results.jpg" id="imgPlacement"
    style="align-items: center"></ion-img> -->
  <span *ngIf="searchArray.length == 0 && !isLoading" class="text-bold text-title" id="searchPlacement">{{globals.NO_RESULTS}}</span>
  <div>
    <ion-list class="item-content" lines="none">
        <ion-item *ngFor="let row of searchArray">
          <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <span class="text-bold text-title">{{row.officer}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span class="text-regular text-subtitle">{{row.respFor}}</span>
              </ion-col>
            </ion-row>
            <ion-row (click)="openEmail($event, row)">
              <ion-col size-lg="0.3" size-md="0.5" size="1">
                <ion-img *ngIf="row.emailId != ''" class="card-image" [src]="'assets/img/email.png'"></ion-img>
              </ion-col>
              <ion-col>
                <span class="text-bold text-link">{{row.emailId}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
