<ion-header>
  <ion-toolbar color='danger'>
    <ion-title>Filters</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="clearClicked()">
        Clear
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="filters">
    <div class="filterTypes columnContainer">
      <ion-list class="item-content" *ngFor="let filter of filterTypes" (click)="setFilterItems(filter.id)">
        <ion-item [ngClass]="{'selectedFilter': filter.id === selectedFilter}">
          <ion-grid>
            <ion-row>
              <ion-col size="2">
                <ion-img class="card-image" [src]="'assets/img/ward.png'"></ion-img>
              </ion-col>
              <ion-col>
                <span class="text-bold text-title">{{filter.name}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>  
        </ion-item>
      </ion-list>
    </div>
    <div class="filterItems columnContainer">
      <ion-list class="filter-val" *ngFor="let items of selectedFilterItems" lines="none">
        <ion-item>
          <ion-checkbox slot="start" [(ngModel)]="items.isChecked"></ion-checkbox>
          <span class="text-bold text-title">{{items.filterValue}}</span>
        </ion-item>
        <ion-row>
          <ion-label class="text-bold text-title filter-val-padding">{{items.area}}</ion-label>
        </ion-row>
      </ion-list>
    </div>
  </div>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)">
      <ion-segment-button value="CLOSE">
        Close
      </ion-segment-button>
      <ion-segment-button value="APPLY">
        APPLY
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>