.filters {
  display: flex;
  flex-direction: row;
  flex: 1;
  height: 100%;

  .columnContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  .filterTypes {
    border-right: 1px solid #cccccc;
  }

  ion-list {
    padding: 0;
  }

  .selectedFilter {
    --background: #e8f5fb;
  }

  .card-image {
    width: 20px;
    height: 20px;
    margin: auto;
  }

  .filter-val {
    border: 0.5px solid lightgray;
  }

  .filter-val-padding {
    padding-left: 10px;
  }
}