<ion-header [translucent]="true">
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Hospitals
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="openInfoScreen()">
        <ion-img class="card-image" [src]="'assets/img/info.png'"></ion-img>
      </ion-button>
      <ion-button (click)="openFilterScreen()">
        <ion-img *ngIf="filterArray.length == 0" class="card-image" [src]="'assets/img/funnel.png'"></ion-img>
        <ion-img *ngIf="filterArray.length != 0" class="card-image" [src]="'assets/img/funnel-applied.png'"></ion-img>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar type="text" debounce={{globals.DEBOUNCE}} (ionChange)="getSearchItems($event)"
      placeholder="Filter by Name, Address, Zipcode">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="background" [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="listRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-img alt="No Results" *ngIf="searchArray.length == 0" src="/assets/img/no-results.jpg" id="imgPlacement"></ion-img> -->
  <span *ngIf="searchArray.length == 0 && !isLoading" class="text-bold text-title" id="searchPlacement">{{globals.NO_RESULTS}}</span>
  <ion-list  class="item-content" lines="none">
    <ion-item *ngFor="let row of searchArray" (click)="openHospitalDetails(row)">
      <ion-card>
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <span class="text-bold text-title">{{row.hospitalName}}</span>
            </ion-col>
            <ion-col>
              <div class="ion-text-end">
                <span class="text-bold text-subtitle">{{row.serviceType}} - {{row.ward}}</span>
              </div>
            </ion-col>
          </ion-row>
          <ion-row  (click)="openMap($event, row)">
            <ion-col size="10">
              <span class="text-regular text-subtitle">{{row.address}} - {{row.pincode}}</span>
            </ion-col>
            <ion-col size="2">
              <ion-img *ngIf="row.address != ''" class="map-image" [src]="'assets/img/map.png'"></ion-img>
            </ion-col>
          </ion-row>
          <!-- <ion-row>
            <ion-col size-lg="0.3" size-md="0.5" size="1">
              <ion-img class="card-image" [src]="'assets/img/doctor.png'"></ion-img>
            </ion-col>
            <ion-col size-lg="10.5" size-md="10" size="8">
              <span class="text-bold text-link">{{row.contactName}}</span>
            </ion-col>
            <ion-col size-lg="0.1" size-md="0.5" size="0.7">
              <ion-img class="card-image" [src]="'assets/img/bed.png'"></ion-img>
            </ion-col>
            <ion-col size-lg="1" size-md="1">
              <div class="ion-text-center">
                <span class="text-bold text-link">{{row.noOfBeds}}</span>
              </div>
            </ion-col>
          </ion-row> -->
          <ion-row (click)="openNumber($event, row)">
            <ion-col size-lg="0.3" size-md="0.5" size="1">
              <ion-img *ngIf="row.contactNumber != ''" class="card-image" [src]="'assets/img/phone.png'"></ion-img>
            </ion-col>
            <ion-col size-lg="10.5" size-md="10" size="8">
              <span class="text-bold text-link">{{row.contactNumber}}</span>
            </ion-col>
            <ion-col size-lg="0.1" size-md="0.5" size="0.7">
              <ion-img *ngIf="row.noOfBeds != ''" class="card-image" [src]="'assets/img/bed.png'"></ion-img>
            </ion-col>
            <ion-col size-lg="1" size-md="1">
              <div class="ion-text-center">
                <span class="text-bold text-link">{{row.noOfBeds}}</span>
              </div>
            </ion-col>
          </ion-row>
          <!-- <ion-row (click)="openEmail($event, row)">
            <ion-col size-lg="0.3" size-md="0.5" size="1">
              <ion-img *ngIf="row.emailId != ''" class="card-image" [src]="'assets/img/email.png'"></ion-img>
            </ion-col>
            <ion-col>
              <span class="text-bold text-link">{{row.emailId}}</span>
            </ion-col>
          </ion-row> -->
        </ion-grid>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>