<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Hospitals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Hospitals List</ion-title>
    </ion-toolbar>
  </ion-header>

  <div>
    <ion-grid>
      <ion-row *ngFor="let row of dataArray">
        <ion-col size="0.6">
          {{row.serial}}
        </ion-col>
        <ion-col size="0.6">
          {{row.ward}}
        </ion-col>
        <ion-col size="1">
          {{row.service}}
        </ion-col>
        <ion-col size="1.5">
          {{row.hospital}}
        </ion-col>
        <ion-col size="2.5">
          {{row.address}}
        </ion-col>
        <ion-col size="1">
          {{row.beds}}
        </ion-col>
        <ion-col size="1.5">
          {{row.name}}
        </ion-col>
        <ion-col size="1.5">
          {{row.contact}}
        </ion-col>
        <ion-col size="1.5">
          {{row.email}}
        </ion-col>
      </ion-row>
      </ion-grid>
      
  </div>
</ion-content>
