<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="dashboard"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Oxygen Cylinder
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar type="text" debounce={{globals.DEBOUNCE}} (ionChange)="getSearchItems($event)"
      placeholder="Filter by Oxygen Cylinder Name, Address & more..">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-refresher slot="fixed" (ionRefresh)="listRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!-- <ion-img alt="No Results" *ngIf="searchArray.length == 0" src="/assets/img/no-results.jpg" id="imgPlacement"></ion-img> -->
  <span *ngIf="searchArray.length == 0 && !isLoading" class="text-bold text-title" id="searchPlacement">{{globals.NO_RESULTS}}</span>
  <div>
    <ion-list class="item-content" lines="none">
        <ion-item  *ngFor="let row of searchArray">
          <ion-card>
          <ion-grid>
            <ion-row>
              <ion-col>
                <span class="text-bold text-title">{{row.name}}</span>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <span class="text-regular text-subtitle">{{row.person}}</span>
              </ion-col>
            </ion-row>
            <ion-row (click)="openNumber($event, row)">
              <ion-col size-lg="0.3" size-md="0.5" size="1">
                <!-- <ion-icon name="call-outline" class="icon"></ion-icon> -->
                <ion-img *ngIf="row.contactNumber != ''" class="card-image" [src]="'assets/img/phone.png'"></ion-img>
              </ion-col>
              <ion-col>
                <span class="text-bold text-link">{{row.contactNumber}}</span>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>
        </ion-item>
    </ion-list>
  </div>
</ion-content>
