ion-col {
  padding: 10px;
}

.menu-card {
  text-align: center;

  .card-image {
    padding-top: 10px;
    width: 90%;
    margin: auto;
  }

  .card-title {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}