
#appdashboard {
  background: #55acee;
}

ion-card {
  width: 90%;
}

.menu-card {
  text-align: center;

  .card-image {
    padding-top: 10px;
    width: 70%;
    margin: auto;
  }

  .card-title {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}