<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Covid Care</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cityClicked()">
        Mumbai
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="background">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="3" size-md="4" size-sm="6" size="6" *ngFor="let row of dashArray">
        <ion-card class="menu-card" routerLink={{row.route}}>
          <ion-img alt={{row.title}} class="card-image" src={{row.icon}}></ion-img>
          <ion-card-title class='card-title'>
            <span class="text-bold card-title">{{row.title}}</span>
          </ion-card-title>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>