<ion-header>
  <ion-toolbar color="danger">
    <ion-title>Covid Care</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cityClicked()">
        Mumbai
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card class="menu-card" routerLink="/home">
          <ion-img class="card-image" [src]="'assets/img/hospital.png'"></ion-img>
          <ion-card-title class='card-title'>Hospitals</ion-card-title>
        </ion-card>
      </ion-col>
      <ion-col></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>